*{
  font-family:Arial, Helvetica, sans-serif;
  background-color: gray;
  color: white;
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px;
}

p{
  font-size: 20px;
}

ul img{
  width: 35px;
  padding: 10px;
}